<header>
  <div class="settings">
    <a href="/users/new">Add a new user</a>
    <a href="/exercises/new">Add exercises</a>
  </div>
  <h1>Tracker</h1>
</header>

<section id="app">

</section>

<!-- /* Handlebars templates start */ -->
<script type="text/x-handlebars" data-template-name="application">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="users">
  {{#each user in controller}}
    <a {{action showActivitesInput user}}> {{user.name}} </a>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="activities">
  <!-- User START -->
  <div id="user">
    <a {{action selectUser}}>Select User</a>
    <a id="user_remove" href="#">Remove User</a>
    <h2>Adam</h2>
    <table>
      <thead>
        <tr>
          <th>Activity</th>
          <th>17/9</th>
          <th>18/9</th>
          <th>19/9</th>
          <th>20/9</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Inverted push up</td>
          <td><input type="text" value="20-20"></td>
          <td><input type="text" value=""></td>
          <td><input type="text" value=""></td>
          <td><input type="text" value=""></td>
        </tr>
        <tr>
          <td>Side lying bridge (feet in, on elbow)</td>
          <td><input type="text" value="20-20"></td>
          <td><input type="text" value=""></td>
          <td><input type="text" value=""></td>
          <td><input type="text" value=""></td>
        </tr>
        <tr>
          <td>Push up</td>
          <td><input type="text" value="23-23"></td>
          <td><input type="text" value=""></td>
          <td><input type="text" value=""></td>
          <td><input type="text" value=""></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <a href="#" id="user_add">Add user</a>
    <div id="user_select">
      <select name="" id="">
        <option value="">Adam</option>
        <option value="">Sian</option>
      </select>
      <a id="user_add_now" href="#">Add</a>
    </div>
  </div>
  <!-- User END -->
</script>
<!-- /* Handlebars templates end */ -->

